* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0;
}

.mobile {
    display: none;
}

/* Typograghy */

p, a {
    font-size: 1.3rem;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    margin-top: 32px;
    margin-bottom: 24px; 

}

h4 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;  
}

h5 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 8px;
}

h6 {
    font-size: 1.5rem;
    margin-top: 24px;
    margin-bottom: 8px;
}

/* Header */

header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.navbar {
    height: 64px;
    margin: 0 24px;
}
.navbar .desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop {

}

.desktop .icon {
    display: flex;
    height: 32px;
    align-items: center;
}

.rightheader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.divider {
    display: flex;
    width: 16px;
    background-color: #4682B4;
    height: 64px; 
}

.icon {
    width: auto;
    height: 100%;
}

.blackword {
    color: black;
    font-size: 2rem;
}

.greyword {
    font-size: 2rem;
    color: #CACCCE;
}


/* Page Wrap (set a bulk container relative to the header instead of the first section) */

.page_wrap {
    position: relative;
    top: 64px;
}

/* First Section */

.top_greybox {
    background-color: #CACCCE;
    padding: 32px 0;
}

.top_content {
    display: flex;

}

.top_left {
    width: 60%;
    margin: 0px 24px;
 
}

.top_left img {
    width: 100%;
    height: auto;
}

.top_right {
    width: 40%;

}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start_button {

}

.top_greybox .start_button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    transition: opacity 250ms ease-in,
    letter-spacing 250ms ease-out,
    word-spacing 250ms ease-out,
    background-color 250ms ease-in;
    width: 60%;
}

.top_greybox .start_button:hover {
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    background-color: #4682B4;   
}

.start_button a:hover{
    letter-spacing: 15px;
}


/* Keep Practicing */

.practice_container {
    background-color: white;
    margin-bottom: 8px;
}

.practice_content {
    display: flex;
}

.practice_1, .left {
    width: 60%;
    margin: 0px 24px;
}

.info_main img {
    width: 100%;
    height: auto;
}

.middle_right {
    display: flex;
    align-items: center;
    margin-bot: 8px;
}

.middle_right:hover {
    background-color: #CACCCE;

}

.left {
    padding: 32px 0;
}
.right {
    border-left: 1px solid #CACCCE;
    padding: 32px 0;

}

.mid {
    border-top: 3px double #CACCCE;
    border-bottom: 3px double #CACCCE;
}

.practice_2 {
    width: 40%;
}

.practice_2 .right {
    display: flex;
    flex-direction: column;
}

.midright_thumb {
    width: 35%;
    margin: 16px;
}

.midright_thumb  img {
    width: 100%;
    height: auto;
}

.midright_text {
    width: 65%;
    margin: 16px 0px;
}





/* Start Learning */

.learn_container {
    padding: 32px 72px 0px 72px;
    background-color: #CACCCE;
}

.learn_1 {
    display: flex;
    flex-wrap: wrap;
}

.learn_2 {
    background-color: white;
    margin-bottom: 32px;
    flex: 1 0 30%;
    transition-property: background-color;
    transition-duration: 250ms;

    transition: opacity 250ms ease-in,
    background-color 250ms ease-in;
}

.learn_2 img {
    width: 100%;
    height: auto;
}

.learn_text {
    margin: 16px 16px 24px 16px;
}

.midcol {
    margin-right: 32px;
    margin-left: 32px;
}

.courses {
    margin-bottom: 8px;
}

/* Thesis exhibit */

.thesis_container {
    margin: 32px 0px;
}

.thesis_content {
    display: flex;
}

.thesis_1 {
    width: 60%;
    margin: 0px 24px;
}

.thesis_video video {
    width: 100%;
    height: auto;
}


.thesis_2 {
    width: 40%;
}

.thesis_right {
    display: flex;
    align-items: center;
}

.thesis_right:hover {
    background-color: #CACCCE;
}

.thesis_thumb {
    width: 35%;
    margin: 16px;
}

.thesis_thumb img {
    width: 100%;
    height: auto;
}

.thesis_text {
    width: 65%;
    margin: 16px 0px;
}

/* Footer */

footer {
    display: flex;
    padding: 16px 24px;
    border-top: 1px solid #CACCCE;
    margin-bottom: 16px;
}

footer p {
    flex-grow: 1;
}

